{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<html>
  <body>
    <div class = 'flash'>
    		      {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

    </div>
    <h1>{{brand.name}}</h1>
    </br>
    <a href="{{url_for('newProduct', brand_id = brand.id )}}"><h2>add new product</h2></a>
    </br>
    {% for x in products %}
    <a href="{{url_for('specificProduct', brand_id = brand.id , product_id = x.id)}}">{{x.name}}</a>
    </br>
    description: {{x.description}}
    </br>
    price: {{x.price}}
    </br>
    </br>
    {% endfor %}
  </body>
</html>
{% endblock %}
